<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Site</title>
</head>
<body>
    <h1>Hello Marshall</h1>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    
    <form method="POST">
        <label for="name">Username:</label>
        <input type="text" id="name" name="name" placeholder="Name#Tag" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>